@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="long SFmodal">
    <h3>The validation token has expired. This is likely because a newer token has been sent. Please check your email for a newer validation link. This may take a few minutes to arrive.</h3>
</div>