@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Login" class="tiny SFmodal verticleCenter">
    <div class="container">
        <span>Password change successful. Click <a href="/">Here</a> to return to the home page</span>
    </div>
</div>