@model ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Login" class="tiny SFmodal verticleCenter">
    <div class="container">
        @using (Html.BeginForm("ChangePassword", "User", new { area = "" }))
        {

            <div class="errors SFmodalOption">
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
            </div>
            <div class="formRowSingle SFmodalOption">
                <div class="data">
                    @Html.TextBoxFor(m => m.NewPassword, new { @placeholder = "New Password", @type = "Password" })
                </div>
            </div>
            <div class="formRowSingle SFmodalOption">
                <div class="data">
                    @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @placeholder = "Confirm New Password", @type = "Password" })
                </div>
            </div>
            <div class="formRowSingle SFmodalOption">
                <button>
                    Submit
                </button>
            </div>
        }
    </div>
</div>