@model ForgotPasswordPageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tiny SFmodal verticleCenter">
    <div class="container">
        @using (Html.BeginForm("ForgotPassword", "User", new { area = "" }))
		{
        <div class="errors SFmodalOption">
            @Html.ValidationSummary(true)
        </div>
        <div class="formRowSingle SFmodalOption">
            <div class="data">
                @Html.TextBoxFor(m => m.Login, new { @placeholder = "Login", @autocomplete = "off" })
            </div>
        </div>
        <div class="formRowSingle SFmodalOption">
            <button>
                Reset
            </button>
        </div>
        <div class="formRowSingle SFmodalOption">
            <div class="data">
                <a class="noninvasive" href="/User/ForgotLogin">Request Login</a>
            </div>
        </div>
		}
    </div>
</div>