@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="long SFmodal">
    An email has been sent containing a validation link. Please click the link to validate before logging in. This may take a few minutes to arrive.
</div>