@using Penguin.Cms.Security;

@model User

@{
	Guid id = Guid.NewGuid();
}
<div id="@id">
    @if ((Model?._Id ?? 0) == 0)
	{
    <span>Save user to enable password reset</span>
	}
	else
	{

    <button type="button" onclick="ResetPassword('@Model.Login')">
        Reset
    </button>

    <script>
			function ResetPassword(targetLogin) {
				$.ajax({
					type: "POST",
					url: '/Admin/User/ResetPassword',
					data: { login: targetLogin },
					success: function (data) {
						$('#@id').html(data);
					}
				});
			}
    </script>
	}
</div>