@model AuthenticationToken

@{
	Layout = null;
	string Link = $"/User/ResetPassword?UserId={Model.User}&Token={Model.Guid}";
}

<span>The user can log in with the following link until @Model.Expiration.ToString("yyyy-MM-dd HH:mm:ss")</span>
<span><a href="@Link">@Link</a></span>
<span></span>
<span>If the email system is not configured, you may need to provide this link to the user</span>